/* TEST	*/
.box{
  background: grey;
  height: 100px;
  width: 100px;
  /* margin-bottom: 0px;
  border: 2px solid black;             */
  border-radius: 0px;
  cursor: pointer;
}

.boxLeft{
  background: grey;
  height: 100px;
  width: 100px;
  /* margin-bottom: 0px;
  border: 2px solid black;             */
  border-radius: 0px;
}

.logo{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
}

.boxRight{
  background: grey;
  height: 100px;
  width: 100px;
  /* margin-bottom: 0px;
  border: 2px solid black;             */
  border-radius: 0px;
  cursor: pointer;

}

.menuButton{
    height: 50px;
    width: 40px;
    border: 0px solid white;
    position: relative;
    top: 25%;
    cursor: pointer;
      margin: auto;
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  margin: auto;
}

.beige{
  background: beige;
}

.perimeter{
  border: 2px solid red;
}

.wrap{
  max-width: 1000px;
  margin: auto;
  padding: 0px;
  position: relative;
}



/* LAYOUT	*/
html{
	height: 100%;
}

.fix{
  position:fixed;
}

.no-margin {
margin:0px;}

.no-padding{
padding:0px;}

.no-border{
border-color:transparent;}

.no-shadow{
	box-shadow: 0px, 0px, 0px;
}

.no-background{
	background-color: transparent;
}

.max-width{
max-width:100%;
height:auto;}

.dark-background{
background-color:#2F2F2F;}

.grey-background{
background-color:#E6E6E6 }

.light-background{
background-color:#F8F8F8 }

.resimgbackground{
	background-image:url('../immagini/gi4.JPG');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #2F2F2F;
	}


/* FONTS	*/

@font-face {
	font-family: "Zona Pro";
	src: url('../fonts/ZonaPro-Bold.otf') format('opentype');
}
.zonapro {
font-family: 'Zona Pro', sans-serif;
}

@font-face {
	font-family: "Mohave";
	src: url('../fonts/Mohave-SemiBold.otf') format('opentype');
}
.mohave {
font-family: "Mohave", sans-serif;
}

@font-face {
	font-family: "Opensans";
	src: url('../fonts/OpenSans-Regular.ttf') format('opentype');
}

.opensans {
font-family: 'Open Sans', sans-serif;
}

.opensans-bold{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}

.opensans-justify{
font-family: 'Open Sans', sans-serif;
text-align: justify;
font-size: 16px;
}

.bold{
	font-weight: bold;
}


/* ELEMENTS	*/

.nav{
  width: 100%;
  height: 100px;
}

.home-title {
color: #F8F8F8;
margin-bottom: 10px;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 90px;
}

.home-text {
color: #F8F8F8;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 22px;
}

.home-fix{
position: relative;
top: 45%;
transform: translateY(-50%);
animation-duration: 1s;
animation-delay: 0.7s;
animation-iteration-count: 1;
}

.page-title {
color: #2F2F2F;
text-align: center;
font-size: 60px;
}

.cerchio{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 3px solid #2F2F2F;
  background-color: #F8F8F8;
  background-image: url('../immagini/gi5.JPG');
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.linea{
  height: 1px;
  width: 40px;
  border-radius: 0px;
  border: 1px solid #F8F8F8;
  margin-bottom: 5px;
  text-align: center;
}

.x{
  height: 1px;
  width: 40px;
  border-radius: 0px;
  border: 1px solid #F8F8F8;
  margin: auto;
  transform:rotate(45deg);

}

.x2{
  height: 1px;
  width: 40px;
  border-radius: 0px;
  border: 1px solid #F8F8F8;
  margin: auto;
  transform:rotate(-45deg);
  position: relative;
top: -2px;
}


/* HAMBURGER MENU	*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.menuList {
}

.menuOpen {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 250px;
    background-color: #2F2F2F;
}





li a {
    display: block;
    color: #F8F8F8;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-top: 0px solid #F8F8F8;
}

/* Change the link color on hover */
.menuList:hover {
    background-color: #555;
    font-size: 18px;
}

.boxRight:hover {
  background-color: #555;
}
