/* TEST	*/
.box{
  background: grey;
  height: 100px;
  width: 100px;
  /* margin-bottom: 0px;
  border: 2px solid black;             */
  border-radius: 0px;

}

.logo{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
}

.menu{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
}

.beige{
  background: beige;
}

.perimeter{
  border: 2px solid red;
}



/* LAYOUT	*/
html{
	height: 100%;
}

.fix{
  position:fixed;
}

.no-margin {
margin:0px;}

.no-padding{
padding:0px;}

.no-border{
border-color:transparent;}

.no-shadow{
	box-shadow: 0px, 0px, 0px;
}

.no-background{
	background-color: transparent;
}

.max-width{
max-width:100%;
height:auto;}

.dark-background{
background-color:#2F2F2F}

.grey-background{
background-color:#E6E6E6 }

.light-background{
background-color:#F8F8F8 }

.resimgbackground{
	background-image:url('../immagini/gi2.JPG');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
	}


/* FONTS	*/

@font-face {
	font-family: "Zona Pro";
	src: url('../fonts/ZonaPro-Bold.otf') format('opentype');
}
.zonapro {
font-family: 'Zona Pro', sans-serif;
}

@font-face {
	font-family: "Mohave";
	src: url('../fonts/Mohave-Bold.otf') format('opentype');
}
.mohave {
font-family: "Mohave", sans-serif;
}

.opensans {
font-family: 'Open Sans', sans-serif;
}

.opensans-bold{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}

.opensans-justify{
font-family: 'Open Sans', sans-serif;
text-align: justify;
font-size: 15px;
}

.bold{
	font-weight: bold;
}


/* ELEMENTS	*/

.nav{
  width: 100%;
  height: 100px;
}

.home-title {
color: #F8F8F8;
margin-bottom: 10px;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 90px;
}

.home-text {
color: #F8F8F8;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 22px;
}

.home-fix{
position: relative;
top: 50%;
transform: translateY(-50%);
animation-duration: 1s;
animation-delay: 0.7s;
animation-iteration-count: 1;
}



/* ANIMATIONS	*/
